.navbar {
    @include row;
    height: 56px;
    margin-bottom: 10px;
    justify-content: center;
    background-color: white;
}

.navbar * {
    background-color:white;
}
    
.navbar {
    .left {
        @include row;
        .home {
            width: 72px;
            @include row;
            .logo {
                @include col;
                width: 50px;
                height: 40px;
                margin-left: 11px;
                margin-right: 11px;
            }
        }
        .searchbox {
            @include row;
            width: 26em;
            height: 32px;
            border: solid 1px gray;
            border-radius: 5px;
            .search {
                @include col;
                outline: none;
                border: none;
            }
            .lensLeft {
                @include col;
                width: 38px;
                height: 30px;
                margin-right: 4px;
            }
        }
    }
}

.navbar {
    .right {
        @include row;
        text-align: center;
        .lensRight {
            @include col;
        }
        .login {
            @include col;
            color: rgb(165, 165, 165);
            text-decoration: none;
            margin-right: 20px;
        }
        .login:hover {
            color: rgb(57, 57, 185);
        }
        
        .createAccount{
            @include col;
            color: #3B49DF;
            text-decoration: none;
            margin-right: 12px;
            border: solid 1.2px blue;
            border-radius: 8px;
            height: 38px;
            width: 140px;
        }
        .createAccount:hover {
            color: white;
            background-color: #3B49DF;
            text-decoration: underline;
        }
    }
}

/* Responsiveness of the navbar */
@media screen and (max-width: 7680px) {
    .navbar .right .lensRight {
        display: none;
    }
    .navbar .left .burger {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .navbar .left .searchbox {
        display: none;
    }
    .navbar .right .login {
        display: none;
    }
    .navbar .left .lensLeft {
        display: none;
    }
    .navbar .right .lensRight {
        display: flex;
    }
    .navbar .left .burger {
        display: flex;
    }
}