
@media screen and (max-width: 7680px) {
    .navbar .right .lensRight {
        display: none;
    }
    .navbar .left .burger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navbar .left .searchbox {
        display: none;
    }
    .navbar .right .login {
        display: none;
    }
    .navbar .left .lensLeft {
        display: none;
    }
    .navbar .right .lensRight {
        display: flex;
    }
    .navbar .left .burger {
        display: flex;
    }
}